:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
// ? Por colores card
.bg-green {
  background: #49d0b0;
}
.bg-red {
  background: #fa6d6b;
}
.bg-blue {
  background: #76befe;
}
.bg-yellow {
  background: #ffd76f;
}
.bg-brown {
  background: #544726c8;
}
.bg-purple {
  background: #9a6fff;
}
.bg-black {
  background: #111;
}
.bg-pink {
  background: #fc6cb4;
}
.bg-gray {
  background: #d3d3d3;
}
.bg-wite {
  background: #fff;
}
.bg-all {
  background: #999;
}
// ? Por tipo
.color-fire {
  background: #ff7402;
}
.color-grass {
  background: #9bcc50;
}
.color-steel {
  background: #9eb7b8;
}
.color-water {
  background: #4592c4;
}
.color-psychic {
  background: #f366b9;
}
.color-ground {
  background: #ab9842;
}
.color-ice {
  background: #51c4e7;
}
.color-flying {
  background: #3dc7ef;
}
.color-ghost {
  background: #4d5b64;
}
.color-normal {
  background: #a4acaf;
}
.color-poison {
  background: #7e0058;
}
.color-rock {
  background: #a38c21;
}
.color-fighting {
  background: #d56723;
}
.color-dark {
  background: #707070;
}
.color-bug {
  background: #729f3f;
}
.color-dragon {
  background-image: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
}
.color-electric {
  background: #bba909;
}
.color-fairy {
  background: #fdb9e9;
}
.color-shadow {
  background: #7b62a3;
}
.color-unknow {
  background: #757575;
}
